@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";


body {
    font-family: "Outfit" !important;
}

:root {
    --color-primary: #884ea7;
    --color-secondary: #ec4899;
    --color-background: #ffffff;
    --color-text: #000000;
    --color-icon: #000000;
    --color-border: #e0e0e0;
}

/* html[data-theme="dark"] {
    --color-primary: #2563eb;
    --color-secondary: #9333ea;
    --color-background: #0f172a;
    --color-text: #f1f5f9;
    --color-icon: #f1f5f9;
    --color-border: #36465e;
} */

html[data-theme="red"] {
    --color-primary: #dc2626;
    --color-secondary: #f97316;
    --color-background: #ffffff;
    --color-text: #1f2937;
    --color-icon: #000000;
    --color-border: #f4f5f8;
}


button,
a {
    cursor: pointer;
}

.ql-editor {
    font-family: "Outfit";
    font-size: 14px;
    color: #121212;
    letter-spacing: 0%;
    padding: 12px 12px;
}

.ql-container {
    height: 250px !important;
}

.ql-container.ql-snow {
    border: none !important;
}

.ql-toolbar.ql-snow {
    border: none !important;
}

.ql-editor.ql-blank::before {
    font-style: normal !important;
    color: #adadad;
    font-weight: 400;
    font-size: 16px;
    left: 12px;
    /* line-height: 20px; */
}

.ql-formats {
    margin-right: 5px !important;
}

.filter-list-notice-board .filter-up-arrow,
.filter-list-notice-board .filter-down-arrow {
    stroke: #212121;
}